
.inquire{
    background: #F9F9F9;
    padding: 8px;
}

.inquire li{
    border-bottom: 1px solid #E9E9E9;
    margin: 8px 0;
    padding: 8px 0;
}

.inquire li:last-child{
    border-bottom: 0;
}

.inquire li span{
    margin: 12px;
}

.inquire li span a{
    color: #283169!important;
}

.inquire li span:first-child{
    color: #777777!important;
}

.sorting{
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
    padding: 18px;
}

.sorting span{
    margin: 12px;
}

.sorting span a{
    color: #888888!important;
}

.inquire .active, .sorting .active{
    color: #b70a0e!important;
}