
body {
    font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

li{
    list-style: none;
}

.font-12{
    font-size: 12px;
}

.column-clear-left{
    margin-left: 0;
    padding-left: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

[class*="am-u-"] {
    padding-left: 0;
    padding-right: 0;
}

/* 主要内容区 */

.main-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* 面包屑公共样式 */

.breadcrumb{
    margin: 10px 0;
    padding: 10px 12px;
}

/* 左侧导航公共样式 */

.left-nav {
    width: 300px;
    border: 1px solid #d9d9d9;
    background-color: #f4f4f4;
    margin-bottom: 85px;
    float: left;
}

.left-nav li.li {
    height: 50px;
    line-height: 50px;
}

.left-nav li.li1 {
    padding-left: 40px;
    font-size: 19.33px;
    color: #b60a11;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.left-nav li.li1 img {
    position: absolute;
    left: 10px;
    bottom: 16px;
}

.left-nav li.li2 {
    padding-left: 20px;
    font-size: 14px;
    color: #565656;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.left-nav li.li2 img {
    position: absolute;
    right: 23px;
    bottom: 21px
}

.left-nav li.li3 a {
    display: block;
    width: 260px;
    height: 50px;
    padding-left: 40px;
    font-size: 14px;
    color: #7b7b7b;
}

.left-nav li.li3 {
    font-size: 14px;
    color: #7b7b7b;
}

.left-nav li.li3.active a {
    color: #b70b14;
    background-color: #ececec;
}
.selected{
    background-color:#e4393c;
}