
<div class="pluginunit-detail">

    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a ui-sref="index">首页</a></li>
        <li><a ui-sref="data">列表页</a></li>
        <li class="active">详情页</li>
    </ol>

    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
            <div class="clearfix content-base">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h1>数据标题数据标题数据标题数据标题数据标题数据标题</h1>
                    <p>发布日期：2017/5/1</p>
                    <p>发布者：用户昵称</p>
                    <p>购买次数：1515415</p>
                    <p>评分：
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                    <p>行业：国土</p>
                    <p>区域：河北省保定市</p>
                    <p>成果形式：专题数据</p>
                    <p>数据类型：矢量</p>
                    <p>分辨率：1米</p>
                    <p>比例尺：1:5000</p>
                    <p>支持下载：是</p>
                    <p>生产时间：小于1年</p>
                    <p>简介：水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法水体识别算法</p>
                    <table class="content-label">
                        <tr>
                            <td width="50" valign="top" style="padding-top: 10px">标签：</td>
                            <td>
                                <span>空间分析</span>
                                <span>专题</span>
                                <span>气象</span>
                                <span>雷电</span>
                                <span>通用</span>
                                <span>空间分析</span>
                                <span>专题</span>
                                <span>气象</span>
                                <span>雷电</span>
                                <span>通用</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../../images/1.png">
                    <a class="btn btn-primary center-block content-btn" href="#">购买</a>
                    <p class="integral">消耗50个积分</p>
                    <p class="share">
                        <span>分享到：</span>
                        <a href="">
                            <img src="../../../../images/icon/img@1x48.jpg" alt="">
                        </a>
                        <a href="">
                            <img src="../../../../images/icon/img@1x49.jpg" alt="">
                        </a>
                        <a href="">
                            <img src="../../../../images/icon/img@1x50.jpg" alt="">
                        </a>
                    </p>
                </div>
            </div>
            <div class="clearfix content-detail">
                <h1>
                    <img src="../../../../images/app/1.jpg"> 插件详情
                </h1>
                <div class="content-description">
                    <div class="img">
                        <img src="../../../../images/1.png" alt="" style="margin-bottom: 15px">
                    </div>
                    <p class="text">若不是在追寻梦的路上遇到过波折受过伤，我是永远不会懂得失去的忧伤和得到的喜悦的。见过多少虚伪和冷漠，经历过多少颠沛流离，或许才会更加怀念着当初简单的生活。放慢前行的步履，静下心来，想想最初的最初，我们向往的亦或许仅仅只是一份简单的快乐。虽是粗茶淡饭，却最为朴素真实，虽是寻常日子，但笑容却最多。</p>
                    <p class="text">若不是在追寻梦的路上遇到过波折受过伤，我是永远不会懂得失去的忧伤和得到的喜悦的。见过多少虚伪和冷漠，经历过多少颠沛流离，或许才会更加怀念着当初简单的生活。放慢前行的步履，静下心来，想想最初的最初，我们向往的亦或许仅仅只是一份简单的快乐。虽是粗茶淡饭，却最为朴素真实，虽是寻常日子，但笑容却最多。</p>
                </div>
            </div>

            <div class="content-comment">
                <div class="title">评论&nbsp;<span>(100条)</span></div>
                <div class="clearfix release">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <textarea class="form-control" rows="10" placeholder="请输入评论"></textarea>
                    </div>
                    <a class="btn btn-primary comment-btn" href="#">发表评论</a>
                </div>
                <ul class="list">
                    <li class="clearfix">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">用户昵称&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="pull-right text-time">7天前</span>
                            </p>
                            <p>泰王都承认自己是中国后裔，泰国人就是中国傣族。我们是一家人，当然要合作啦！更何况对他们都有非常大的好处，当然要开绿灯了。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">用户昵称&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="pull-right text-time">7天前</span>
                            </p>
                            <p>泰王都承认自己是中国后裔，泰国人就是中国傣族。我们是一家人，当然要合作啦！更何况对他们都有非常大的好处，当然要开绿灯了。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">用户昵称&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="pull-right text-time">7天前</span>
                            </p>
                            <p>泰王都承认自己是中国后裔，泰国人就是中国傣族。我们是一家人，当然要合作啦！更何况对他们都有非常大的好处，当然要开绿灯了。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">用户昵称&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="pull-right text-time">7天前</span>
                            </p>
                            <p>泰王都承认自己是中国后裔，泰国人就是中国傣族。我们是一家人，当然要合作啦！更何况对他们都有非常大的好处，当然要开绿灯了。</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <img class="center-block" src="../../../../images/icon/img@1x_43.png" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">用户昵称&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="pull-right text-time">7天前</span>
                            </p>
                            <p>泰王都承认自己是中国后裔，泰国人就是中国傣族。我们是一家人，当然要合作啦！更何况对他们都有非常大的好处，当然要开绿灯了。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 column-clear-left">
            <div class="content-userinfo">
                <img class="center-block avatar" src="../../../../images/icon/img@1x_43.png" alt="">
                <p class="text-center nickname">用户昵称</p>
                <p>签名：是一款针对应急救援、公众安全的应用软件，提供多源异构空间信息数据以及公安、边防等业务数据接入，能够关联展示地上地下人防设施、应急通道。</p>
            </div>
            <div class="content-text-list">
                <h1><img src="../../../../images/icon/img@1x_6.jpg"> 他发布的数据</h1>
                <ul>
                    <li class="clearfix">
                        <a href="">
                            <h2>应用名称应用名称应用名称应用名称应用名称...</h2>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="">
                            <h2>应用名称应用名称应用名称应用名称应用名称...</h2>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="">
                            <h2>应用名称应用名称应用名称应用名称应用名称...</h2>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="">
                            <h2>应用名称应用名称应用名称应用名称应用名称...</h2>
                        </a>
                    </li>
                    <li class="clearfix">
                        <a href="">
                            <h2>应用名称应用名称应用名称应用名称应用名称...</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>