<!--主体内容之 section-->
<div id="content-main">
    <p class="page-title" style="font-size:13px;background:#e8e8e8;">
        <a>应用列表 </a>
    </p>
    <!-- 查询结束 -->
    <!--添加余额列表-->
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel" >
                    <div class="panel-heading">
                        <p class="panel-title" style="padding:0;color:rgb(155,187,103)">应用管理</p>
                    </div>
                    <div class="panel-body"  style="min-height:500px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>应用信息</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <!--动态table-->
                            <tbody>
                            <!--<tr ng-repeat="apply in applicationList">-->
                            <tr ng-repeat="apply in applicationList">
                                <td>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img ng-src="{{apply.cover_url}}" alt="" style="width:100px;height:100px;">
                                        </div>
                                        <div class="col-md-4">

                                            <div>
                                                <span>应用名称:{{apply.title}}</span>
                                            </div>
                                            <div >
                                                <span>发布日期:{{apply.updated_at}}</span>
                                            </div>
                                            <div >
                                                <span>购买次数:{{apply.buy_count}}次</span>
                                            </div>
                                            <div>

                                                <span>ID:{{apply.id}}</span>
                                            </div>
                                            <div>
                                                <span>评分:{{apply.comment_count}}分</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{apply.text}}</td>
                                <td>
                                    <a style="color:#4f79e4" ng-click="checkContent(apply.id)">审核</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="pageBottom" style="margin-top: -25px;">
                        </div>
                        <!--分页显示数据-->
                        <!--<div class="dataTables_info" role="status" aria-live="polite">总共{{totalCount}}条 &nbsp;-->
                            <!--&lt;!&ndash;当前展示<select ng-change="confirmQuery()" ng-model="pageSizeSelect" ng-options="value.value as value.value for value in pageSizes">&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>条&ndash;&gt;-->
                            <!--<div class="pull-right">-->
                                <!--<button class="btn btn-default" ng-click="previous()">上一页</button>-->
                                <!--<span>第 {{pageNum}} 页/共 {{totalCount}} 页</span>-->
                                <!--<button class="btn btn-default" ng-click="next()">下一页</button>-->
                                <!--<input type="number" style="width:30px;"  >-->
                                <!--<button class="btn btn-default"  ng-click="goToPage()">Go</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->

</div>


