<div ng-controller="algorithmManagerController">
    <div class="usercenter-title">
        <h1>
            算法管理
        </h1>
    </div>
    <div class="sorting">
        <span><a ng-class="{active:type=='1'}" href="#" ng-click="typeClick('1')">我购买的算法</a></span>
        <span><a ng-class="{active:type=='3'}" href="#" ng-click="typeClick('3')">我发布的算法</a></span>
    </div>
    <table class="table usercenter-table">
        <tr>
            <th>算法信息</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr  ng-repeat="item in arithmeticList" >
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a  href="/sample/algorithmDetail?algorithmId={{item.id}}">
                        <img href="/sample/algorithmDetail?algorithmId={{item.id}}" src="{{baseImgUrl+item.cover_url}}">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <a  href="/sample/algorithmDetail?algorithmId={{item.id}}">
                        <h1>{{item.title}}</h1>
                    </a>
                    <p>数据来源：{{item.data_source}}</p>
                    <p>发布者：{{type==1?item.user_info.nickname:user_info.nickname}}</p>
                    <p>购买日期：{{item.created_at}}</p>
                </div>
            </td>
            <td class="status" ng-if="type=='1'">已购买</td>
            <td class="status" ng-if="type=='3'">已发布</td>
            <td ng-if="type=='1'" style="vertical-align:middle;">
                <p><a class="btn btn-default center-block" href="#" role="button" ng-click="lookTrain(item)">查看训练过程</a></p>
                <p><a class="btn btn-default center-block" href="#" role="button" ng-click="lookTrain(item)">下载算法</a></p>
            </td>
        </tr>
    </table>
    <!-- 分页开始 -->
    <div class="page-blcok center-block">
        <uib-pagination
                force-ellipses="true"
                boundary-links="true"
                boundary-link-numbers="true"
                total-items="total"
                ng-model="current"
                max-size="maxSize"
                ng-change="search(true)"
                items-per-page="pageTotal||10"
                class="pagination-sm"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"
        ></uib-pagination>
        &nbsp;&nbsp;
        <div class="pagination-info form-group-sm">跳至<input style="width: 36px" type="text" class="input-group-sm" ng-model="search_current" ng-keyup="jumpPage($event)" />页</div>
        &nbsp;&nbsp;
        <div class="pagination-info">
            <span class="ng-binding">共有{{total}}条</span>
        </div>

    </div>
    <!-- 分页结束 -->
</div>