<div class="samplelist-detail">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">列表页</a></li>
        <li class="active">详情页</li>
    </ol>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <!--  <ui-view></ui-view> -->
            <div class="clearfix content-base">
<!--                 <div class="localTestPanel preTestContent">
                    <div class="inputGroup">
                        <span class="ig_label">测试算法</span>
                        <span class="unedit">水体识别算法01</span>
                        <button class="btn btn-default">选择算法</button>
                    </div>
                    <div class="inputGroup">
                        <span class="ig_label">测试文件</span>
                        <span class="unedit">F:/我的数据/南海子公园.jpg</span>
                        <button class="btn btn-default">选择文件<input type="file" name="test_sample" ></button>
                    </div>
                    <div class="inputGroup">
                        <span class="ig_label">图像预览</span>
                        <img class="sample_img_pre" src="images/9.png">
                    </div>
                    <button class="beginTest btn btn-primary">开始测试</button>
                </div> -->
                <div class="localTestPanel testingContent">
                    <div class="inputGroup"> 
<!--                         <img class="icon testing" src="images/icon/img@1x_28.png"><span>测试中</span> -->
                        <img class="icon testing" src="images/icon/img@1x_29.png"><span>测试完成</span>
                    </div> 
                    <div class="testInfo col-xs-6 col-sm-6 col-md-6 col-lg-6 column-clear-left">
                        <div class="inputGroup">
                            <span class="ig_label">测试模型：</span>
                            <span class="unedit">水体识别算法01</span>
                        </div>
                        <div class="inputGroup">
                            <span class="ig_label">测试文件：</span>
                            <span class="unedit">F:/我的数据/南海子公园.jpg</span>
                        </div>
                        <div class="inputGroup">
                            <span class="ig_label">图像预览：</span>
                            <img class="sample_img_pre" src="images/9.png">
                        </div>
                        <div class="inputGroup">
                            <span class="ig_label result">测试结果：</span>
                            <div class="graph"></div>
                        </div>
                    </div>
                    <div class="testStatus col-xs-4 col-sm-4 col-md-4 col-lg-4 column-clear-left">
                        <h3>任务状态</h3>
                        <ul>
                            <li><span class="status queued">排队中</span><span class="time">at05:00:34 PM ( 1 second)</span> </li>
                            <li><span class="status init">初始化</span><span class="time">at05:00:34 PM ( 1 second)</span> </li>
                            <li><span class="status running">运行</span><span class="time">at05:00:34 PM ( 1 second)</span> </li>
                            <li><span class="consume">(Total -8 seconds)</span> </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>