<!--主体内容之 content-main-->
<div id="content-main" >
	<!--标题头-->
	<p class="page-title" style="font-size:13px;background:#e8e8e8;">
		<a>首页 / </a>
		<a>订单管理 /</a>
		卡片列表
	</p>
	<!--end 标题头-->
	<div class="page-content-wrap" style="margin-top:3px; padding-bottom:20px;">
		<div class="form-horizontal">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span>卡片列表(共{{mod_cardNumber.totalCount}}条)</span>
				</h3>
				<button class="btn btn-primary pull-right" ng-click="excludeExcel()"
						style="margin-bottom:10px;margin-right:10px;">导出excel
				</button>
			</div>
			<table class="table datatable">
				<thead>
				<tr>
					<th>商品名称</th>
					<th>卡号</th>
					<th>卡密</th>
					<th>面值(元)</th>
					<th>价格(元)</th>
					<th>过期时间</th>
					<th>批次号</th>
					<th>订单号</th>
					<th>状态</th>
					<th>创建日期</th>
				</tr>
				</thead>
				<!--动态table-->
				<tbody>
				<tr ng-repeat="obj in mod_cardNumber.list">
					<td><a href="#/goodsDetailed/{{obj.goodsId}}">{{obj.goodsName}}</a></td>
					<td>{{obj.cardNo}}</td>
					<td>{{obj.cardPwd}}</td>
					<td>{{obj.amount}}</td>
					<td>{{obj.price}}</td>
					<td>{{obj.expiredDate| date:'yyyy/MM/dd'}}</td>
					<td>{{obj.suppOrderNo == null ? "-" : obj.suppOrderNo}}</td>
					<td>{{obj.buyOrderNo}}</td>
					<td>{{obj.status}}</td>
					<td>{{obj.createDate | date:"yyyy/MM/dd"}}</td>
				</tr>
				</tbody>
			</table>
			<!--分页显示数据-->
			<div class="dataTables_info" role="status" aria-live="polite">总共{{totalPageCount}}条 &nbsp;
				当前展示<select ng-change="confirmQuery()" ng-model="pageSizeSelect" ng-options="value.value as value.value for value in pageSizes">
				</select>条
			</div>
			<div class="pull-right">
				<button class="btn btn-default" ng-click="previous()">上一页</button>
				<span>第 {{mod_cardNumber.pageNum}} 页/共 {{mod_cardNumber.totalPageCount}} 页</span>
				<button class="btn btn-default" ng-click="next()">下一页</button>
				<input type="number" style="width: 50px;height: 26px;border-radius: 10px;border: 1px solid #ddd;padding: 2px 5px;" ng-model="changePage">
				<button class="btn btn-default"  ng-click="goToPage()">Go</button>
			</div>
		</div>
	</div>
</div>