.yuan{
    line-height:25px;
    background-color:rgb(249,249,249);
    border:1px solid rgb(213,213,213);
    border-radius:4px;
}
.zhi{
    text-align:center;
    line-height:25px;
}
.left{
    float:left;
}
.right{
    float:right;
}
.block h4{
    padding-right:15px;
    margin-bottom:40px;
}
.form-horizontal-footer{
    clear:both;
    overflow:hidden;
}
.form-horizontal{
    box-sizing:border-box;
    padding:10px;
}
.ui-draggable-handle{
    margin-bottom:20px;
}
#DataTables_Table_0_wrapper table{
    margin-bottom:20px;
}