<div ng-controller="userSampleManageController">
    <div class="usercenter-title">
        <h1>
            需求管理
        </h1>
    </div>
    <div class="sorting">
        <span><a href="#">我购买的需求</a></span>
        <span><a class="active" class="" href="#">我投标的需求</a></span>
        <span><a class="" href="#">我中标的需求</a></span>
    </div>
    <table class="table usercenter-table">
        <tr>
            <th>数据信息</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
        <tr>
            <td class="clearfix">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="../../../images/1.png">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h1>“一带一路”25个港口城市及其周边区</h1>
                    <p>投标人数：1515415</p>
                    <p>发布日期：20170501</p>
                </div>
            </td>
            <td class="status">已投标</td>
            <td class="handle">
                <p><a class="btn btn-default" href="#" role="button">更新标书</a></p>
                <p><a class="btn btn-default" href="#" role="button">放弃投标</a></p>
            </td>
        </tr>
    </table>
</div>
