
<!-- START PAGE CONTAINER -->
    <!--START Y导航条 -->


        <!--主体内容之 content-main-->
        <div id="content-main">

            <!--标题头-->
            <p class="page-title" style="font-size:13px;background:#e8e8e8;">
                <a>渠道管理 </a>&gt;添加发行商
            </p>
            <!--end 标题头-->
            <div class="page-content-wrap" style="margin-top:5px;">
               <div class="row">
                   <div class="col-md-12  logo-icon-box">
                       <div class="sr-item sr-item-link" style="color:#95b75d;">现有发行商({{responseDataLength}})</div>
                       <div class="row">
                           <div class="col-md-1 col-xs-2 logo-icon" ng-repeat="response in responseData"><!----有几条数据就遍历几次------->
                               <a  class="friend">
                                   <img src="http://img.gxcards.com/{{response.logo}}"  alt="">
                                   <span>{{response.pubName}}</span>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
            <!----------发行商信息-------->

            <div class="page-content-wrap" style="min-height:1500px;">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body tab-content">
                                <div class="tab-pane active" id="tab-first">

                                    <!--渠道名称-->
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> 渠道发行商名称</label>
                                        <div class="col-md-5 col-xs-12">
                                            <input type="text" class="form-control" ng-model="param3.pubName" style="width:400px;" placeholder="输入名称"/>
                                        </div>
                                    </div>

                                    <!--渠道ID-->
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label"> 发行商logo</label>
                                        <div class="col-md-6 col-xs-12">
                                            <!--<a href="#" class="btn btn-default" style="background-color:#33414e;color:#fff;">添加</a>-->
                                            <input type="file" multiple="multiple" class="file" custom-on-change="uploadImg"/>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">发行商描述</label>
                                        <div class="col-md-6 col-xs-12">
                                            <textarea cols="63" rows="10" ng-model="param3.desc">描述内容
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-xs-12 control-label">发行商备注</label>
                                        <div class="col-md-6 col-xs-12">
                                            <textarea cols="63" rows="10" ng-model="param3.remark">备注信息
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" style="background-color:#fff;border:none;">
                                <button class="btn btn-primary text-center" ng-click="addPublisher()">确认完成</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delete_or_not_instockRecord_warning_bg" id="delete_or_not_box">
            <div style="width:0px;min-width:226px;" class="delete_or_not_instockRecord_warning_box" >
                <p class="delete_or_not_title" style="margin-top:46px;">添加发行商成功</p>
                <p class="delete_or_not_delete" style="margin-left:148px;margin-right:10px;color:#2e8ded;cursor:pointer" ng-click="sure_delete_or_not()">知道啦</p>
                <!--<p class="delete_or_not_not" ng-click="cancel_delete_or_not()">取消</p>-->
            </div>
        </div>
<div class="delete_or_not_instockRecord_warning_bg" id="error">
    <div style="width:0px;min-width:221px;height:112px;" class="delete_or_not_instockRecord_warning_box" >
        <p class="delete_or_not_title" style="margin-top:20px;">{{statustext}}</p>
        <p class="delete_or_not_delete" style="margin-left:148px;margin-right:10px;color:#2e8ded;cursor:pointer" ng-click="know()">知道啦</p>
        <!--<p class="delete_or_not_not" ng-click="cancel_delete_or_not()">取消</p>-->
    </div>
</div>











