
<div class="pluginunit-detail" ng-controller="demandDetailController">

    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a ui-sref="index">首页</a></li>
        <li><a ui-sref="demand">列表页</a></li>
        <li class="active">详情页</li>
    </ol>

    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
            <div class="clearfix content-base">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h1>{{demandDetail.title}}</h1>
                    <p>发布日期：{{demandDetail.created_at}}</p>
                    <p>发布者：{{demandDetail.user.nickname}}</p>
                    <p>竞标 ：{{demandDetail.biddingtotal}}</p>
                    <p>需求类型 ：{{demandDetail.class.title}}</p>
                    <p>竞标周期：{{demandDetail.bidding_cycle}}天</p>
                    <p>投标截止日期：{{demandDetail.bidding_time}}</p>
                    <p>成果生产周期：{{demandDetail.deliver_cycle}}天</p>
                    <p>成果交付日期：{{demandDetail.deliver_time}}</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <img src="{{demandDetail.cover_url}}">
                    <a class="btn btn-primary center-block content-btn" ng-href="{{demandDetail.isBidding==1?'#':'demand/scheduleDetail?demandId='+demandDetail.id}}">{{demandDetail.isBidding==1?'已投标':'投标'}}</a>
                    <p class="integral">赚取{{demandDetail.price}}个积分</p>
                    <p class="share">
                    <div class="jiathis_style_32x32">
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_tsina"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="clearfix schedule">
                        <div class="title"><br>需求进度</div>
                        <div class="list">
                            <div class="line"></div>
                            <ul class="clearfix">
                                <li ng-class="{active:demandDetail.schedule>-1}">
                                    <div class="center-block point" ></div>
                                    <h4>发布需求</h4>
                                </li>
                                <li ng-class="{active:demandDetail.schedule>0}">
                                    <div class="center-block point"></div>
                                    <h4>开放投标</h4>
                                </li>
                                <li ng-class="{active:demandDetail.schedule>1}">
                                    <div class="center-block point"></div>
                                    <h4>发布者选择</h4>
                                </li>
                                <li ng-class="{active:demandDetail.schedule>2}">
                                    <div class="center-block point"></div>
                                    <h4>成果制作</h4>
                                </li>
                                <li ng-class="{active:demandDetail.schedule>3}">
                                    <div class="center-block point"></div>
                                    <h4>成果交付</h4>
                                </li>
                                <li ng-class="{active:demandDetail.schedule>4}">
                                    <div class="center-block point"></div>
                                    <h4>交易完成</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix content-detail">
                <h1>
                    <img src="../../../../images/icon/img@1x_9.png"> 需求详情
                </h1>
                <div class="content-description">
                    {{demandDetail.introduction}}
                </div>
            </div>

            <div class="content-tender">
                <h1>
                    {{bindingList.length}}人投标
                </h1>
                <div class="clearfix tender-list" >
                    <a  href="/usercenter/account/userIndex?userId={{item.user.user_id}}" ng-repeat="item in bindingList">
                        <img src="{{item.user.avatar_url?item.user.avatar_url:'../../images/icon/icon-user.png'}}"/>
                    </a>
                </div>
                <div class="tender-btn">
                    <a ng-if="demandDetail.isBidding!=1" class="btn btn-primary center-block comment-btn" href="demand/scheduleDetail?demandId={{demandDetail.id}}">我要投标</a>
                </div>
            </div>

            <div class="content-comment">
                <div class="title">评论&nbsp;<span>({{commentListInfo.total}}条)</span></div>
                <div class="clearfix release">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 avatar-block">
                        <img class="center-block" src="{{userAvatar_url?userAvatar_url:'../../images/icon/icon-user.png'}}" alt="">
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <textarea ng-model="mod_text" class="form-control" rows="10" placeholder="请输入评论"></textarea>
                        <div class="comment-star">
                            <span class="glyphicon {{myStar_rating<1?'glyphicon-star-empty':'glyphicon-star'}}" ng-click="commentStart(1)"></span>
                            <span class="glyphicon  {{myStar_rating<2?'glyphicon-star-empty':'glyphicon-star'}}" ng-click="commentStart(2)"></span>
                            <span class="glyphicon  {{myStar_rating<3?'glyphicon-star-empty':'glyphicon-star'}}" ng-click="commentStart(3)"></span>
                            <span class="glyphicon  {{myStar_rating<4?'glyphicon-star-empty':'glyphicon-star'}}" ng-click="commentStart(4)"></span>
                            <span class="glyphicon  {{myStar_rating<5?'glyphicon-star-empty':'glyphicon-star'}}" ng-click="commentStart(5)"></span>
                        </div>
                    </div>
                    <a class="btn btn-primary comment-btn" href="#"  ng-click="faBiao()">发表评论</a>
                </div>
                <ul class="list">
                    <li class="clearfix" ng-repeat="comment in commentList">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 avatar-block">
                            <img class="center-block" src="{{comment.user.avatar_url?comment.user.avatar_url:'../../images/icon/icon-user.png'}}" alt="">
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                            <p>
                                <span class="nickname">{{comment.user.nickname}}&nbsp;&nbsp;</span>
                                <span class="glyphicon {{comment.star_rating<1?'glyphicon-star-empty':'glyphicon-star'}}"></span>
                                <span class="glyphicon  {{comment.star_rating<2?'glyphicon-star-empty':'glyphicon-star'}}"></span>
                                <span class="glyphicon  {{comment.star_rating<3?'glyphicon-star-empty':'glyphicon-star'}}"></span>
                                <span class="glyphicon  {{comment.star_rating<4?'glyphicon-star-empty':'glyphicon-star'}}"></span>
                                <span class="glyphicon  {{comment.star_rating<5?'glyphicon-star-empty':'glyphicon-star'}}"></span>
                                <span class="pull-right text-time">{{comment.created_at}}</span>
                            </p>
                            <p>{{comment.content}}</p>
                        </div>
                    </li>

                </ul>
                <div class="page-blcok center-block">

                    <uib-pagination
                            force-ellipses="true"
                            boundary-links="true"
                            boundary-link-numbers="true"
                            total-items="total"
                            ng-model="current"
                            max-size="maxSize"
                            ng-change="search(true)"
                            items-per-page="pageTotal||10"
                            class="pagination-sm"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;"
                    ></uib-pagination>
                    &nbsp;&nbsp;
                    <div class="pagination-info form-group-sm">跳至<input style="width: 36px" type="text" class="input-group-sm" ng-model="search_current" ng-keyup="jumpPage($event)" />页</div>
                    &nbsp;&nbsp;
                    <div class="pagination-info">
                        <span class="ng-binding">共有{{total}}条</span>
                    </div>

                </div>
                <!-- 分页结束 -->
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 column-clear-left">
            <div class="content-userinfo">

                <!--<a href="/usercenter/account/userIndex?userId={{demandDetail.user.user_id}}">-->
                    <!--<img class="avatar" src="{{item.user.avatar_url?item.avatar_url:'../../images/icon/icon-user'}}"> {{item.user.nickname}}-->
                    <!--<img class="center-block avatar" src="{{demandDetail.user.avatar_url?item.avatar_url:'../../images/icon/icon-user'}}" alt="">-->

                <!--</a>-->
                <a href="/usercenter/account/userIndex?userId={{demandDetail.user.user_id}}">
                    <img class="center-block avatar" src="{{demandDetail.user.avatar_url}}" alt="">
                    <p class="text-center nickname"> {{demandDetail.user.nickname}}</p>
                    <p>签名：{{demandDetail.user.signature}}</p>

                </a>
            </div>
            <div class="content-text-list">
                <h1><img src="../../../../images/icon/img@1x_8.png"> 他发布的需求</h1>
                <ul>
                    <li class="clearfix" ng-repeat="item in demandList">
                        <a ng-click= "refresh(item.id)">
                            <h2>{{item.title}}</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>